<div id="wrap1111">
  <app-tsvupload [hidden]="isVisible" (onSelected)="onSelected()" [specimenNo]="specimenNo"
    [patientid]="patientID" (onCanceled)="onCanceled()">
  </app-tsvupload>
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
        <tr>
            <td  class="mail_title">WorkList (Sequencing)</td>
            <td class="main_btn"></td>
        </tr>
    </table>

      <div class="box mg_b20 pd_20">
        <input type="text" class="input_01" #seqTestedID placeholder="검체번호" />&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자ID" #seqPatient class="input_01" />&nbsp;&nbsp;
        <select class="select_01 select_001"  #seqStatus>
          <option value="100">전체</option>
          <option value="0">시작</option>
          <option value="1">스크린판독</option>
          <option value="2">판독완료</option>
          <option value="3">EMR전송</option>
        </select>&nbsp;&nbsp;

        <select class="select_01 select_001" #seqSheet>
          <option value="Sequencing">전체</option>
          <option  *ngFor="let list of listSequencing"  [value]="list.code">{{list.code}} ({{list.report}})</option>
        </select>&nbsp;&nbsp;

        <input type="date" [value]="startToday()" (change)="getDate(seqStart.value)" #seqStart class="input_01"
          style="width:150px;" />
        ~
        <input type="date" class="input_01" (change)="getDate(seqEnd.value)" #seqEnd [value]="endToday()"
          style="width:150px;">
        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="search(seqStart.value, seqEnd.value, seqTestedID.value, seqPatient.value, seqStatus.value, seqSheet.value)">조 회</button>
        &nbsp;&nbsp;

        <select class="select_01 select_001" #research  (change)="newList(research.value)">
          <option value="TOTAL">전체</option>
          <option value="PATIENT">환자용</option>
          <option value="RESEARCH">연구용</option>
        </select>&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="openDialog()">연구용추가</button>&nbsp;&nbsp;
        <!--
        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="goDashboard()">DashBoard</button>
        -->
      </div>
      <div class="box">
        <div class="box_100 fill" [appDiagScrollMonitor]="'SEQ'" #dbox100>
        <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
          <colgroup>
            <col width="40px">
            <col width="100px">
            <col width="80px">
            <col width="50px">
            <col width="50px">
            <col width="80px">
            <col width="80px">
            <col width="170px">
            <col width="90px">
            <col width="90px">
            <col width="100px">
            <col width="80px">
          </colgroup>
          <thead>
            <tr>
              <th>No.</th>
              <th>접수일</th>
              <th>환자이름</th>
              <th>나이</th>
              <th>성별</th>
              <th>환자ID</th>
              <th>검사명</th>
              <th>결과지명</th>
              <th>검체번호</th>
              <th>진행상태</th>
              <th>&nbsp;</th>
              <th>연구용</th>
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr [ngClass]="toggle(i)" *ngFor="let list of  lists; let i = index;">
              <td class="txt_c">{{ i + 1}}</td>
              <td class="txt_c">{{list.accept_date}}</td>
              <td class="txt_c">{{list.name}}</td>
              <td class="txt_c">{{list.age}}</td>
              <td class="txt_c">{{list.gender}}</td>
              <td class="txt_c">{{list.patientID}}</td>
              <td class="txt_c">{{list.test_code}}</td>
              <td class="txt_c">{{list.reportTitle}}</td>
              <td class="txt_c">{{list.specimenNo}}</td>
              <td class="txt_c">{{processingStatus(i)}}</td>
              <td class="txt_c">
                <button type="button" class="btn btn_03"
                  (click)="goReporter(i)">결과지/보고서</button>
              </td>

              <td  class="txt_c" *ngIf="list.gbn === 'RESEARCH'; else research;">
                <span>연구용</span>
              </td>
              <ng-template #research><td></td></ng-template>

            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>


