
<div id="wrap111">
  <app-upload *ngIf="isVisible"  [research]="'research'"  (onSelected)="onSelected()" (onCanceled)="onCanceled()"  (onWrongFile)="onWrongFile()"></app-upload>
  <div id="container" style="margin-top: 0px;">
    <div id="content" >
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
            <tr>
                <td  class="mail_title">WorkList (연구용)</td>
                <td class="main_btn"></td>
            </tr>
        </table>
        <div class="box mg_b20 pd_20 title">
           <div>
           <input type="text" class="input_01"
            #pathologynum    placeholder="분자병리번호"  [value]="pathologyno"
            (keyup.enter)="searchData(start.value, end.value, pathologynum.value, patient.value, 'Y')" />&nbsp;&nbsp;
            <input name="" type="text"   placeholder="환자ID"  #patient  [value]="patientid"
            class="input_01" />&nbsp;&nbsp;
            <input type="date" [value]="startToday()" class="input_01" #start  style="width:150px;"/>
            ~
            <input type="date" [value]="endToday()" class="input_01" #end  style="width:150px;"/> &nbsp;&nbsp;
            <button type="button" class="btn btn_02" (click)="reSearch(start.value, end.value, pathologynum.value, patient.value, 'Y')"
             >조회</button>
             </div>
             <div>
                <button type="button" class="btn btn_01"  (click)="addPathList()" [disabled]="isDisabled">추가</button>
             </div>
        </div>
        <div class="box">
            <div class="box_100 "  appScrollMonitor  #pbox100>
            <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
                <colgroup>
                    <col width="40px">
                    <col width="12%">
                    <col width="8%">
                    <col width="5%">
                    <col width="5%">
                    <col width="9%">
                    <col width="10%">
                    <col width="9%">
                    <col width="9%">
                    <col width="8%">
                    <col width="8%">
                    <col width="9%">
                    <col width="7%">
                    <col width="5%">
                </colgroup>
                <thead class="fixheader">
                    <tr>
                        <th>No.</th>
                        <th>접수일</th>
                        <th>환자이름</th>
                        <th>나이</th>
                        <th>성별</th>
                        <th>환자ID</th>
                        <th>분자병리번호</th>
                        <th>IR TSV</th>
                        <th>OR TSV</th>
                        <th>진행상태</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>진단의</th>
                        <th>저장</th>
                    </tr>
                </thead>
                <tbody class="bodytable" [ngStyle]="adjustBodyTable()">

                    <tr [ngClass]="toggle(i)"  *ngFor="let list of    lists; let i = index">
                        <input type="hidden" value="initStatusValue" #status [(ngModel)]="initStatusValue">
                        <td class="txt_c">{{i + 1}}</td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.prescription_date}}</td>
                        <td  *ngIf="status.value === 'U'"><span  class="bdnone" >
                              <input type="date"  class="clr-input" #prescription [value]="today()"></span>
                        </td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.name}}</td>
                        <td  *ngIf="status.value === 'U'"><span  class="bdnone">
                             <input type="text"  class="clr-input" #name value="{{list.name}}" size="8"></span>
                        </td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.age}}</td>
                        <td  *ngIf="status.value === 'U'"><span  class="bdnone">
                            <input type="text"  class="clr-input" #age value="{{list.age}}" size="2"></span>
                        </td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.gender}}</td>
                        <td *ngIf="status.value === 'U'"><span  class="bdnone" >
                            <input type="text"  class="clr-input" #gender value="{{list.gender}}"size="2"></span>
                        </td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.patientID}}</td>
                        <td  *ngIf="status.value === 'U'"><span  class="bdnone">
                            <input type="text"  class="clr-input" #patientid value="{{list.patientID}}"></span>
                        </td>
                        <td class="txt_c" *ngIf="status.value === 'R'">{{list.pathology_num}}</td>
                        <td  *ngIf="status.value === 'U'"><span  class="bdnone">
                            <input type="text"  class="clr-input" #pathologynum value="{{list.pathology_num}}" ></span>
                        </td>

                        <td class="txt_c" *ngIf="status.value === 'R'"><a  [href]="getUrl(list, 'IR')" [download]="list.tsvirfilename" *ngIf="list.tsvirfilename">
                            <button class="btn btn_03" style="font-size: 14px;" [matTooltip]="list.tsvirfilename">IR파일</button>
                        </a></td>
                        <td *ngIf="status.value === 'U'"></td>

                        <td class="txt_c" *ngIf="status.value === 'R'">
                            <a  [href]="getUrl(list, 'OR')" [download]="list.tsvorfilename" *ngIf="list.tsvorfilename">
                               <button class="btn btn_03"  style="font-size: 14px;" [matTooltip]="list.tsvorfilename">OR파일</button>
                           </a></td>
                         <td *ngIf="status.value === 'U'"></td>

                        <td class="txt_c" *ngIf="status.value === 'R'">{{processingStatus(i)}}</td>
                        <td *ngIf="status.value === 'U'"></td>

                        <td class="txt_c" *ngIf="status.value === 'R'">
                            <button type="button" class="btn btn_03 "
                            *ngIf="list.tsvirfilename  && list.tsvorfilename ; else printing"
                            (click)="goReporter(i)"
                            >결과지/보고서</button>
                            <ng-template  #printing>
                              <button type="button" class="btn btn_03"
                                  (click)="goUploadpage(list.pathology_num, i, 'N')">파일등록/변환</button>
                           </ng-template>
                        </td>
                        <td *ngIf="status.value === 'U'"></td>

                        <td class="txt_c" *ngIf="status.value === 'R'">
                          <button type="button" class="btn btn_03"
                          *ngIf="list.tsvirfilename  && list.tsvorfilename;"
                          (click)="goUploadpage(list.pathology_num,i, 'R')"
                          >재등록</button>
                        </td>
                        <td *ngIf="status.value === 'U'"></td>

                        <td class="txt_c">{{list.rechecker}}</td>
                        <td  class="text-right">
                          <span class="wid120 bdnone" *ngIf="'R'">
                               <a class="btn-edit" (click)="status.value = 'U'">편집</a>
                            </span>
                            <span  class="wid120 bdnone">
                               <a class="btn-save" (click)="updateRow(i)">저장</a>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
          </div>
        </div>

    </div>
</div>
 </div>
