<div id="result">
    <div id="container" style="position: relative;">
        <h2 style="margin-top: 5px;">{{formTitle}}</h2>
        <button type="button" class="preview__button" (click)="previewToggle()">미리보기</button>

        <div id="content">
            <div class="box pd_20">
                <div class="sub_title">Patient: {{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt_02" ><span class="fb">Result </span>:
                        <label for="vertical-radio2" class="clr-col-12 clr-col-md-2">Likely pathogenic variant</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio2" name="radio-full" [value]="'Detected'" [checked]="radioStatus('Detected')" class="clr-radio"  (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" [value]="'Not Detected'" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                  </tr>
                </table>

                <div class="sub_title">Test Information</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td> TARGET DISEASE:  {{target}}</td>
                          <td> METHOD: *Massively parallel sequencing</td>
                      </tr>
                      <tr>
                          <td> SPECIMEN: Genomic DNA isolated from peripheral blood leukocytes-adequate specimen</td>
                          <td> REQUEST: {{patientInfo.request}}</td>
                      </tr>
                  </tbody>
                </table>

                <div class="sub_title">Mulation</div>
                <div class="box">
                    <div class="box_1000">
                      <form [formGroup]="form">
                        <table class="table_list td-fix" style="text-align: center;">
                            <colgroup>
                                <col style="width:120px"/>  <!-- Gene   -->
                                <col style="width:140px"/>  <!-- Functional Impact    -->
                                <col style="width:160px"/>  <!-- Transcript    -->
                                <col style="width:120px"/>   <!-- Exon/Intron    -->
                                <col style="width:160px"/>  <!-- Nuceleotide change   -->
                                <col style="width:140px"/>  <!-- Amino acid change    -->
                                <col style="width:150px"/>  <!-- Zygosity    -->
                                <col style="width:140px"/>  <!-- dbSNP/HGMD -->
                                <col style="width:120px"/>  <!-- gnomAD EAS  -->
                                <col style="width:300px"/>   <!-- OMIM -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Gene</th>
                                    <th>Functional Impact</th>
                                    <th>Transcript</th>
                                    <th>Exon/Intron</th>
                                    <th>Nucleotide change</th>
                                    <th>Amino acid</th>
                                    <th>Zygosity</th>
                                    <th>dbSNP/HGMD</th>
                                    <th>gnomAD EAS</th>
                                    <th>OMIM</th>
                                </tr>
                            </thead>
                            <tbody>
                            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
                                <tr [formGroupName]="i">
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="gene">
                                    </td>
                                    <td>
                                        <input type="text" size="20" class="clr-input textcenter tdbox" formControlName="functionalImpact">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="transcript">
                                    </td>
                                    <td>
                                        <input type="text" size="20" class="clr-input textcenter tdbox" formControlName="exonIntro">
                                    </td>
                                    <td>
                                        <input type="text" size="15" class="clr-input textcenter tdbox" formControlName="nucleotideChange">
                                    </td>
                                    <td>
                                        <input type="text" size="40" class="clr-input textcenter tdbox" formControlName="aminoAcidChange">
                                    </td>
                                    <td>
                                        <input type="text" size="40" class="clr-input textcenter tdbox" formControlName="zygosity">
                                    </td>
                                    <td>
                                        <input type="text" size="20" class="clr-input textcenter tdbox" formControlName="dbSNPHGMD">
                                    </td>
                                    <td>
                                        <input type="text" size="20" class="clr-input textcenter tdbox" formControlName="gnomADEAS">
                                    </td>
                                    <td>
                                        <textarea class="textarea_01"  style="width: 100%;height: 100%;border: none" formControlName="OMIM"></textarea>
                                    </td>
                                </tr>
                                </ng-container>
                            </tbody>
                        </table>
                      </form>
                    </div>
                </div>

                <div class="sub_title">Comments</div>
                <div class="pd_r20">
                    <textarea class="textarea_01"></textarea>
                </div>

                <div class="sub_title">*Methods</div>
                <div class="pd_r20">
                    <textarea class="textarea_01">{{methods}}</textarea>
                </div>

                <div class="sub_title">General limitations of the technique</div>
                <div class="pd_r20">
                    <textarea class="textarea_01"  [(ngModel)]="technique">{{technique}}</textarea>
                </div>

                <div class="sub_title">Target genes</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                    <colgroup>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                      <col style="width:10%;"/>
                    </colgroup>
                    <!--
                    <tr  *ngFor="let lists of formGeneLists;">
                      <td class="txt_c" *ngFor="let gene of lists;">{{gene}}</td>
                    </tr>
                        -->
                      <tr  *ngFor="let list of genelists">
                      <td class="txt_c">{{list.g0}}</td>
                      <td class="txt_c">{{list.g1}}</td>
                      <td class="txt_c">{{list.g2}}</td>
                      <td class="txt_c">{{list.g3}}</td>
                      <td class="txt_c">{{list.g4}}</td>
                      <td class="txt_c">{{list.g5}}</td>
                      <td class="txt_c">{{list.g6}}</td>
                      <td class="txt_c">{{list.g7}}</td>
                      <td class="txt_c">{{list.g8}}</td>
                      <td class="txt_c">{{list.g9}}</td>
                    </tr>
                  </table>

                <hr class="mg_t30 mg_b20"/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">
                            검사의뢰일/검사보고일/수정보고일:{{requestDate | date: 'yyyy.MM.dd'}}/{{firstReportDay}}/{{lastReportDay}}
                        </td>
                        <td class="txt_1 font_16 fb">
                            검사자:  <input type="text" class="input_02" size="30"  [(ngModel)]="examin">
                        </td>
                        <td class="txt_1 font_16 fb">
                            판독의사: <input type="text" class="input_02" size="30" [(ngModel)]="recheck">
                        </td>
                    </tr>
                </table>
            </div>

            <br />
            <div class="foot_btn mg_t30 pd_b30 txt_c main_btn">
                <ul>
                    <li>
                        <button type="button" class="btn btn_01" (click)="previewToggle()">미리보기</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="tempSave()">저장</button>
                    </li>
                    <li>
                        <button class="btn btn_01">EMR전송</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

   <div class="modal-overlay" *ngIf="isVisible">
       <div class="modal-body">
           <app-immundefi
           [patientInfo]="patientInfo"
           [immundefi]= "immundefi"
           [result]="resultStatus"
           [title]="formTitle"
            (closemodal)="closeModal()">
          </app-immundefi>
       </div>
   </div>
