<div id="result">
    <div id="container" style="position: relative;">
        <h2 style="margin-top: 5px;">&#60;{{ngsTitle}}&#62;</h2>
        <button type="button" class="preview__button"(click)="previewToggle()">미리보기</button>

        <div id="content">
            <div class="box pd_20">
                <div class="sub_title">Patient:  {{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt_02" ><span class="fb">Result </span>:
                        <label class="">DNMT3A gene Mutation</label>&nbsp;&nbsp;
                        <input type="radio" id="vertical-radio2" name="radio-full" [value]="'Detected'" [checked]="radioStatus('Detected')" class="clr-radio"  (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" [value]="'Not Detected'" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                  </tr>
                </table>

                <div class="sub_title">Test Information</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td> TARGET DISEASE: Primary Immunodeficiency (363 genes)</td>
                          <td> METHOD: *Massively parallel sequencing</td>
                      </tr>
                      <tr>
                        <td> ANALYZED GENE : DNMT3A on 2p23</td>
                        <td> </td>
                      </tr>
                      <tr>
                          <td> SPECIMEN: Genomic DNA isolated from peripheral blood leukocytes-adequate specimen</td>
                          <td> REQUEST: {{patientInfo.request}}</td>
                      </tr>
                  </tbody>
                </table>

                <div class="sub_title">Mulation</div>
                <div class="box">
                    <div class="box_1000">
                      <form [formGroup]="form">
                        <table class="table_list td-fix" style="text-align: center;">
                            <colgroup>
                                <col style="width:60px"/>  <!-- Type   -->
                                <col style="width:100px"/>  <!-- Exon/Intron #    -->
                                <col style="width:100px"/>  <!-- 진단시<br/>(2019.09.04)    -->
                                <col style="width:120px"/>  <!-- Nuceleotide change   -->
                                <col style="width:120px"/>  <!-- Amino acid change    -->
                                <col style="width:120px"/>  <!-- dbSNP/COSMIC ID    -->

                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Exon/Intron #</th>
                                    <th>Nucleotide change</th>
                                    <th>Amino acid change</th>
                                    <th>Zygosity</th>
                                    <th>rs ID</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="type">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="exonintro">
                                    </td>
                                    <td>
                                        <input type="text" size="20" class="clr-input textcenter tdbox" formControlName="nucleotideChange">
                                    </td>
                                    <td>
                                        <input type="text" size="15" class="clr-input textcenter tdbox" formControlName="aminoAcidChange">
                                    </td>
                                    <td>
                                        <input type="text" size="40" class="clr-input textcenter tdbox" formControlName="zygosity">
                                    </td>
                                    <td>
                                        <input type="text" size="40" class="clr-input textcenter tdbox" formControlName="rsid">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                          <div>
                               <div  class="font_14 pd_t15">
                                   <textarea style="width:100%" class="textarea_01"></textarea>
                                 </div>
                          </div>
                </div>

                <div class="sub_title">판독 코멘트</div>
                <div class="pd_r20">
                    <textarea class="textarea_01"></textarea>
                </div>

                <div class="sub_title">일반코멘트1</div>
                <div class="pd_r20">
                    <textarea class="textarea_01"></textarea>
                </div>

                <div class="sub_title">일반코멘트2</div>
                <div class="pd_r20">
                    <textarea class="textarea_01"></textarea>
                </div>

                <hr class="mg_t30 mg_b20"/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">
                            검사의뢰일/검사보고일/수정보고일:{{requestDate | date: 'yyyy.MM.dd'}}/{{firstReportDay}}/{{lastReportDay}}
                        </td>
                        <td class="txt_1 font_16 fb">
                            검사자:  <input type="text" class="input_02" size="30"  [(ngModel)]="examin">
                        </td>
                        <td class="txt_1 font_16 fb">
                            판독의사: <input type="text" class="input_02" size="30" [(ngModel)]="recheck">
                        </td>
                    </tr>
                </table>
            </div>

            <br />
            <div class="foot_btn mg_t30 pd_b30 txt_c main_btn">
                <ul>
                    <li>
                        <button type="button" class="btn btn_01" (click)="previewToggle()">미리보기</button>
                    </li>

                    <li>
                        <button class="btn btn_01" (click)="tempSave()">저장</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="gotoEMR()" >EMR전송</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

   <div class="modal-overlay" *ngIf="isVisible">
       <div class="modal-body">
           <app-sequencing
           [patientInfo]="patientInfo"
           [sequence]= "sequence"
            [result]="resultStatus"
            [title]="ngsTitle"
            (closemodal)="closeModal()">
          </app-sequencing>
       </div>
   </div>
