<div id="result">
  <div id="container" style="position: relative;">
      <h2 style="margin-top: 5px;">IGH Gene Rearrangement Analysis [NGS]</h2>
      <div id="content">
          <div class="box pd_20">
              <div class="sub_title">Patient: {{patientInfo.name}}, {{patientInfo.patientID}}({{patientInfo.gender}}/{{patientInfo.age}})</div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="txt_02" ><span class="fb">Result </span>:
                        <input type="radio" id="vertical-radio2" name="radio-full" class="clr-radio"  [value]="'Detected'" [checked]="radioStatus('Detected')" (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" class="clr-radio"  [value]="'Not Detected'" (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                </tr>
              </table>
              <div class="sub_title">Test Information</div>
              <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td>SPECIMEN : Genomic DNA isolated from Bone marrow</td>
                      </tr>
                  </tbody>
              </table>
              <div class="sub_title">
                  Detected variants&nbsp;&nbsp;
                  <button class="btn btn_01" (click)="addNewRow()">추가</button>
                  <button class="btn btn_01" (click)="increaseClonal()">+</button>
                  <button class="btn btn_01" (click)="decreaseClonal()">-</button>
              </div>
            <div class="box">
                <div class="box_100">
                    <form [formGroup]="tablerowForm">
                        <table class="table_list td-fix"style="text-align: center;">
                            <colgroup>
                                <col style="width:50px" />
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <!-- Clonal sequence 1 -->
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <!-- Clonal sequence 2 -->
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <!-- Clonal sequence 3 -->
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <!-- Clonal sequence 4 -->
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <col style="width:50px" [hidden]="clonalDisplay4" />
                                <!-- Clonal sequence 5 -->
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <col style="width:50px" [hidden]="clonalDisplay5" />
                                <!-- Clonal sequence 6 -->
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <col style="width:50px" [hidden]="clonalDisplay6" />
                                <!-- Clonal sequence 7 -->
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <col style="width:50px" [hidden]="clonalDisplay7" />
                                <!-- Clonal sequence 8 -->
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <col style="width:50px" [hidden]="clonalDisplay8" />
                                <!-- Clonal sequence 9 -->
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <col style="width:50px" [hidden]="clonalDisplay9" />
                                <!-- Clonal sequence 10 -->
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />
                                <col style="width:50px" [hidden]="clonalDisplay10" />

                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                                <col style="width:50px"/>
                            </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2"></th>
                                <th rowspan="2">접수 Date</th>
                                <th rowspan="2">gene</th>
                                <th rowspan="2">Total read<br/>count</th>
                                <th rowspan="2">Read<br/>of LQIC</th>
                                <th rowspan="2">%<br/>of LQIC</th>
                                <th rowspan="2">Total<br/>B-cell<br/>T-cell<br/>count</th>
                                <!--  -->
                                <th colspan="7">Clonal sequence 1</th>
                                <th colspan="7">Clonal sequence 2</th>
                                <th colspan="7">Clonal sequence 3</th>
                                <th colspan="7" [hidden]="clonalDisplay4">Clonal sequence 4</th>
                                <th colspan="7" [hidden]="clonalDisplay5">Clonal sequence 5</th>
                                <th colspan="7" [hidden]="clonalDisplay6">Clonal sequence 6</th>
                                <th colspan="7" [hidden]="clonalDisplay7">Clonal sequence 7</th>
                                <th colspan="7" [hidden]="clonalDisplay8">Clonal sequence 8</th>
                                <th colspan="7" [hidden]="clonalDisplay9">Clonal sequence 9</th>
                                <th colspan="7" [hidden]="clonalDisplay10">Clonal sequence 10</th>
                                <!--  -->
                                <th colspan="3">total</th>
                                <th></th>
                                <th rowspan="2">비고</th>
                                <th rowspan="2">Comment</th>
                            </tr>
                            <tr>
                                <!-- Clonal sequence 1 -->
                                <th>Sequence</th>
                                <th>Length</th>
                                <th>Raw count</th>
                                <th>V-gene</th>
                                <th>J-gene</th>
                                <th>% total<br/>reads</th>
                                <th>cell<br/>equivalent</th>
                                <!-- Clonal sequence 2 -->
                                <th>Sequence</th>
                                <th>Length</th>
                                <th>Raw count</th>
                                <th>V-gene</th>
                                <th>J-gene</th>
                                <th>% total<br/>reads</th>
                                <th>cell<br/>equivalent</th>
                                <!-- Clonal sequence 3 -->
                                <th>Sequence</th>
                                <th>Length</th>
                                <th>Raw count</th>
                                <th>V-gene</th>
                                <th>J-gene</th>
                                <th>% total<br/>reads</th>
                                <th>cell<br/>equivalent</th>
                                <!-- Clonal sequence 4 -->
                                <th [hidden]="clonalDisplay4">Sequence</th>
                                <th [hidden]="clonalDisplay4">Length</th>
                                <th [hidden]="clonalDisplay4">Raw count</th>
                                <th [hidden]="clonalDisplay4">V-gene</th>
                                <th [hidden]="clonalDisplay4">J-gene</th>
                                <th [hidden]="clonalDisplay4">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay4">cell<br/>equivalent</th>
                                <!-- Clonal sequence 5 -->
                                <th [hidden]="clonalDisplay5">Sequence</th>
                                <th [hidden]="clonalDisplay5">Length</th>
                                <th [hidden]="clonalDisplay5">Raw count</th>
                                <th [hidden]="clonalDisplay5">V-gene</th>
                                <th [hidden]="clonalDisplay5">J-gene</th>
                                <th [hidden]="clonalDisplay5">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay5">cell<br/>equivalent</th>
                                <!-- Clonal sequence 6 -->
                                <th [hidden]="clonalDisplay6">Sequence</th>
                                <th [hidden]="clonalDisplay6">Length</th>
                                <th [hidden]="clonalDisplay6">Raw count</th>
                                <th [hidden]="clonalDisplay6">V-gene</th>
                                <th [hidden]="clonalDisplay6">J-gene</th>
                                <th [hidden]="clonalDisplay6">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay6">cell<br/>equivalent</th>
                                <!-- Clonal sequence 7 -->
                                <th [hidden]="clonalDisplay7">Sequence</th>
                                <th [hidden]="clonalDisplay7">Length</th>
                                <th [hidden]="clonalDisplay7">Raw count</th>
                                <th [hidden]="clonalDisplay7">V-gene</th>
                                <th [hidden]="clonalDisplay7">J-gene</th>
                                <th [hidden]="clonalDisplay7">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay7">cell<br/>equivalent</th>
                                <!-- Clonal sequence 8 -->
                                <th [hidden]="clonalDisplay8">Sequence</th>
                                <th [hidden]="clonalDisplay8">Length</th>
                                <th [hidden]="clonalDisplay8">Raw count</th>
                                <th [hidden]="clonalDisplay8">V-gene</th>
                                <th [hidden]="clonalDisplay8">J-gene</th>
                                <th [hidden]="clonalDisplay8">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay8">cell<br/>equivalent</th>
                                <!-- Clonal sequence 9 -->
                                <th [hidden]="clonalDisplay9">Sequence</th>
                                <th [hidden]="clonalDisplay9">Length</th>
                                <th [hidden]="clonalDisplay9">Raw count</th>
                                <th [hidden]="clonalDisplay9">V-gene</th>
                                <th [hidden]="clonalDisplay9">J-gene</th>
                                <th [hidden]="clonalDisplay9">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay9">cell<br/>equivalent</th>
                                <!-- Clonal sequence 10 -->
                                <th [hidden]="clonalDisplay10">Sequence</th>
                                <th [hidden]="clonalDisplay10">Length</th>
                                <th [hidden]="clonalDisplay10">Raw count</th>
                                <th [hidden]="clonalDisplay10">V-gene</th>
                                <th [hidden]="clonalDisplay10">J-gene</th>
                                <th [hidden]="clonalDisplay10">% total<br/>reads</th>
                                <th [hidden]="clonalDisplay10">cell<br/>equivalent</th>
                                <!-- total -->
                                <th>Clonal/<br/>total IGH<br/>read depth<br/>(%)*</th>
                                <th>Clonal/total<br/>nucelated cells<br/>(%)**</th>
                                <th>cell<br/>equivalent</th>
                                <th>IGHV<br/>mutation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="tableRows" *ngFor="let list of getFormControls.controls; let i=index">
                                <tr [formGroupName]="i">
                                    <td class="trash" (click)="removeTableRow(i)">
                                        <img [src]="'assets/images/cancel.png'">
                                    </td>
                                    <td>
                                        {{list.get('report_date')?.value}}
                                    </td>
                                    <td>
                                        <input type="text" size="10" size="10" class="clr-input" formControlName="gene">
                                    </td>
                                    <td>
                                        <input type="text" size="10" matInput class="clr-input textleft tdbox" formControlName="total_read_count" #totalReadcount (change)="totalReadCount(i,totalReadcount.value, list.get('read_of_LQIC')?.value)">
                                    </td>
                                    <td>
                                        <input type="text" size="10" matInput class="clr-input textleft tdbox" formControlName="read_of_LQIC" #readOfLqic (change)="totalBCellTCellCount(i,list.get('total_read_count')?.value , readOfLqic.value)">
                                    </td>
                                    <td>{{list.get('percent_of_LQIC')?.value}}% </td>
                                    <td>
                                        {{list.get('total_Bcell_Tcell_count')?.value | number}}
                                    </td>
                                    <!--   Clonal sequence 1    -->
                                    <td>
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence1">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length1">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count1"  (change)="rawCount1(i, rawcount1.value)" #rawcount1>
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene1">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene1">
                                    </td>
                                    <td>{{list.get('percent_total_reads1')?.value}}%</td>
                                    <td>{{list.get('cell_equipment1')?.value | number}}</td>
                                    <!--   Clonal sequence 2    -->
                                    <td>
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence2">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length2">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count2"  (change)="rawCount2(i, rawcount2.value)" #rawcount2>
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene2">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene2">
                                    </td>
                                    <td>{{list.get('percent_total_reads2')?.value}}%</td>
                                    <td>{{list.get('cell_equipment2')?.value | number}}</td>
                                    <!--   Clonal sequence 3    -->
                                    <td>
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence3">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length3">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count3"  (change)="rawCount3(i, rawcount3.value)" #rawcount3>
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene3">
                                    </td>
                                    <td>
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene3">
                                    </td>
                                    <td>{{list.get('percent_total_reads3')?.value}}%</td>
                                    <td>{{list.get('cell_equipment3')?.value | number}}</td>
                                    <!--   Clonal sequence 4    -->
                                    <td [hidden]="clonalDisplay4">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence4">
                                    </td>
                                    <td [hidden]="clonalDisplay4">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length4">
                                    </td>
                                    <td [hidden]="clonalDisplay4">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count4"  (change)="rawCount4(i, rawcount4.value)" #rawcount4>
                                    </td>
                                    <td [hidden]="clonalDisplay4">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene4">
                                    </td>
                                    <td [hidden]="clonalDisplay4">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene4">
                                    </td>
                                    <td [hidden]="clonalDisplay4">{{list.get('percent_total_reads4')?.value}}%</td>
                                    <td [hidden]="clonalDisplay4">{{list.get('cell_equipment4')?.value | number}}</td>
                                    <!--   Clonal sequence 5    -->
                                    <td [hidden]="clonalDisplay5">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence5">
                                    </td>
                                    <td [hidden]="clonalDisplay5">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length5"  (change)="rawCount5(i, rawcount5.value)" #rawcount5>
                                    </td>
                                    <td [hidden]="clonalDisplay5">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count5">
                                    </td>
                                    <td [hidden]="clonalDisplay5">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene5">
                                    </td>
                                    <td [hidden]="clonalDisplay5">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene5">
                                    </td>
                                    <td [hidden]="clonalDisplay5">{{list.get('percent_total_reads5')?.value}}%</td>
                                    <td [hidden]="clonalDisplay5">{{list.get('cell_equipment5')?.value | number}}</td>
                                    <!--   Clonal sequence 6    -->
                                    <td [hidden]="clonalDisplay6">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence6">
                                    </td>
                                    <td [hidden]="clonalDisplay6">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length6">
                                    </td>
                                    <td [hidden]="clonalDisplay6">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count6"  (change)="rawCount6(i, rawcount6.value)" #rawcount6>
                                    </td>
                                    <td [hidden]="clonalDisplay6">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene6">
                                    </td>
                                    <td [hidden]="clonalDisplay6">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene6">
                                    </td>
                                    <td [hidden]="clonalDisplay6">{{list.get('percent_total_reads6')?.value}}%</td>
                                    <td [hidden]="clonalDisplay6">{{list.get('cell_equipment6')?.value | number}}</td>
                                    <!--   Clonal sequence 7    -->
                                    <td [hidden]="clonalDisplay7">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence7">
                                    </td>
                                    <td [hidden]="clonalDisplay7">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length7">
                                    </td>
                                    <td [hidden]="clonalDisplay7">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count7"  (change)="rawCount7(i, rawcount7.value)" #rawcount7>
                                    </td>
                                    <td [hidden]="clonalDisplay7">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene7">
                                    </td>
                                    <td [hidden]="clonalDisplay7">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene7">
                                    </td>
                                    <td [hidden]="clonalDisplay7">{{list.get('percent_total_reads7')?.value}}%</td>
                                    <td [hidden]="clonalDisplay7">{{list.get('cell_equipment7')?.value | number}}</td>
                                    <!--   Clonal sequence 8    -->
                                    <td [hidden]="clonalDisplay8">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence8">
                                    </td>
                                    <td [hidden]="clonalDisplay8">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length8">
                                    </td>
                                    <td [hidden]="clonalDisplay8">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count8"  (change)="rawCount8(i, rawcount8.value)" #rawcount8>
                                    </td>
                                    <td [hidden]="clonalDisplay8">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene8">
                                    </td>
                                    <td [hidden]="clonalDisplay8">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene8">
                                    </td>
                                    <td [hidden]="clonalDisplay8">{{list.get('percent_total_reads8')?.value}}%</td>
                                    <td [hidden]="clonalDisplay8">{{list.get('cell_equipment8')?.value | number}}</td>
                                    <!--   Clonal sequence 9    -->
                                    <td [hidden]="clonalDisplay9">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence9">
                                    </td>
                                    <td [hidden]="clonalDisplay9">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length9">
                                    </td>
                                    <td [hidden]="clonalDisplay9">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count9"  (change)="rawCount9(i, rawcount9.value)" #rawcount9>
                                    </td>
                                    <td [hidden]="clonalDisplay9">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene9">
                                    </td>
                                    <td [hidden]="clonalDisplay9">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene9">
                                    </td>
                                    <td [hidden]="clonalDisplay9">{{list.get('percent_total_reads9')?.value}}%</td>
                                    <td [hidden]="clonalDisplay9">{{list.get('cell_equipment9')?.value | number}}</td>
                                    <!--   Clonal sequence 10    -->
                                    <td [hidden]="clonalDisplay10">
                                        <input type="text" size="10" class="clr-input textleft tdbox" formControlName="sequence10">
                                    </td>
                                    <td [hidden]="clonalDisplay10">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="sequence_length10">
                                    </td>
                                    <td [hidden]="clonalDisplay10">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="raw_count10"  (change)="rawCount10(i, rawcount10.value)" #rawcount10>
                                    </td>
                                    <td [hidden]="clonalDisplay10">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="v_gene10">
                                    </td>
                                    <td [hidden]="clonalDisplay10">
                                        <input type="text" size="10" class="clr-input textcenter tdbox" formControlName="j_gene10">
                                    </td>
                                    <td [hidden]="clonalDisplay10">{{list.get('percent_total_reads10')?.value}}%</td>
                                    <td [hidden]="clonalDisplay10">{{list.get('cell_equipment10')?.value | number}}</td>
                                    <!-- total  -->
                                    <td>{{list.get('total_IGH_read_depth')?.value}}%</td>
                                    <td>{{list.get('total_nucelated_cells')?.value}}%</td>
                                    <td>{{list.get('total_cell_equipment')?.value}}</td>

                                    <td><input type="text" size="10" class="clr-input textcenter tdbox" formControlName="IGHV_mutation"></td>
                                    <td><input type="text" size="10" class="clr-input textcenter tdbox" formControlName="bigo"></td>
                                    <td><input type="text" size="10" class="clr-input textcenter tdbox" formControlName="comment"></td>
                                </tr>
                            
                            </ng-container>
                        </tbody>
                        </table>
                    </form>
                        <hr class="mg_t30 mg_b20"/>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="txt_l font_16 fb">검사의뢰일/검사보고일/수정보고일: 2021.12.06/-/-</td>
                                <td class="txt_1 font_16 fb">검사자:  <input type="text" class="input_02" size="30"></td>
                                <td class="txt_1 font_16 fb">판독의사: <input type="text" class="input_02" size="30"></td>
                            </tr>
                        </table>
                        
                </div>
                <br />
                <div class="foot_btn mg_t30 pd_b30 txt_c main_btn" >
                <ul>
                    <li>
                        <button type="button" class="btn btn_01" (click)="igtcr()">HOME</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn_01">미리보기</button>
                    </li>
                    <li>
                        <button class="btn btn_01">수정</button>
                    </li>
   
                    <li>
                        <button class="btn btn_01">스크린완료</button>
                    </li>
                    <li>
                        <button class="btn btn_01">판독완료</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="createPdf()">PDF 파일로 저장</button>
                    </li>
                </ul>
                </div>
            </div>
         </div>   
    </div>
</div>



</div>

<div id="resultSheet" >
    <div id="container" style="position: relative;">
        <h2 style="margin-top: 5px;">IGH CLONALITY REPORT</h2>
        <!-- <button type="button" class="preview__button" (click)="closeModal()">닫기</button> -->
  
        <div id="content">
            <div class="box pd_20">
                <div class="sub_title">Patient:  홍ㅇㅇ, 36761316 (M/16)</div>
  
                <div class="sub_title">Test Information</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td> SPECIMEN: Genomic DNA isolated from Bone marrow</td>
                          <td> REQUEST: 김성구/소아청소년과</td>
                      </tr>
                  </tbody>
                </table>
  
                <div class="sub_title">검사원리</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                    <colgroup>
                        <col style="width:100%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                Illumina®  MiSeqDx 및 LymphoTrack(Invivoscribe Inc, San Diego, CA)을 이용하여 high throughput sequencing 방법으로 면역글로불린 유전자 재배열을 확인하고 정량하는 검사입니다.
                            </td>
                        </tr>
                    </tbody>
                </table>

  
                <div class="sub_title">검사원리</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                    <colgroup>
                        <col style="width:50%;" />
                        <col style="width:50%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                미세잔존질환(MRD) 추적에 적합한 IGH 클론이 두 개 검출됩니다.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                % of clonal cells (estimated value) :
                            </td>
                            <td>
                                76.70% / total B-cells , 50.90% / total B-cells
                            </td>
                        </tr>
                    </tbody>
                </table>

  
                <div class="sub_title">검출된 클론</div>
                    <div class="box">
                      <form [formGroup]="tablerowForm">
                        <table class="table_list td-fix st-01">
                            <colgroup>
                                <col style="width:60px"/>  <!-- #   -->
                                <col style="width:100px"/>  <!-- V region    -->
                                <col style="width:100px"/>  <!-- J region    -->
                                <col style="width:100px"/>  <!-- Length (dp)   -->
                                <col style="width:100px"/>  <!-- Total IGH read depth    -->
                                <col style="width:80px"/>  <!-- Clonal IGH depth    -->
                                <col style="width:100px"/>  <!-- Clonal/total IGH read depth (%)*    -->
                                <col style="width:150px"/>  <!-- Clonal cell equivalent**    -->
                                <col style="width:100px"/>  <!-- Clonal cell sequence    -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>V region</th>
                                    <th>J region</th>
                                    <th>Length (dp)</th>
                                    <th>Total IGH read depth</th>
                                    <th>Clonal IGH depth</th>
                                    <th>Clonal/total IGH read depth (%)*</th>
                                    <th>Clonal cell equivalent**</th>
                                    <th>Clonal cell sequence</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of formWithoutgraph; let i =index">
                                    <td class="s-text-center">{{list.index}}</td>
                                    <td class="s-text-center">{{list.vregion}}</td>
                                    <td class="s-text-center">{{list.jregion}}</td>
                                    <td class="s-text-center">{{list.length}}</td>
                                    <td class="s-text-center">{{list.totalIGHreadDepth}}</td>
                                    <td class="s-text-center">{{list.clonalIGHDepth}}</td>
                                    <td class="s-text-center">{{list.clonalTotalIGHReadDepth}}</td>
                                    <td class="s-text-center">{{list.clonalCellEquivalent}}</td>
                                    <td class="s-text-center">{{list.ClonalCellSequence}}</td>
                                </tr>
                                <tr>
                                    <td class="s-text-center">LQIC</td>
                                    <td class="s-text-center">IGHV1-69-13</td>
                                    <td class="s-text-center">IGHJ6-03</td>
                                    <td class="s-text-center">298</td>
                                    <td class="s-text-center"></td>
                                    <td class="s-text-center"></td>
                                    <td class="s-text-center"></td>
                                    <td class="s-text-center"></td>
                                    <td class="s-text-center"></td>
                                </tr>                               
                            </tbody>
                        </table>
                     </form>
                    </div>
                </div>
  
                <div class="sub_title">검사원리</div>
                <table cellpadding="0" cellspacing="0" class="table_result02 st-01">
                    <colgroup>
                        <col style="width:50%;" />
                        <col style="width:50%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="s-text-right">
                                Input DNA =
                            </td>
                            <td class="s-text-left">
                                400ng
                            </td>
                        </tr>
                        <tr>
                            <td class="s-text-right">
                                Total nucleated cells (estimated) =
                            </td>
                            <td class="s-text-left">
                                61,538 cell equivalents (Estimated DNA mass per 1 cell = 6.5 pg)
                            </td>
                        </tr>
                        <tr>
                            <td class="s-text-right">
                                Total B-cell coune =
                            </td>
                            <td class="s-text-left">
                                217,735 cell equivalents (Total read count/ LQIC read count)-LQIC
                            </td>
                        </tr>
                    </tbody>
                </table>
  
                <div class="sub_title">Comment</div>
                <div class="pd_r20">
                    <textarea class="textarea_01" >{{comment2}}</textarea>
                </div>
                <!-- <table cellpadding="0" cellspacing="0" class="table_result02">
                    <colgroup>
                        <col style="width:100%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                * Clonal IGH read depth를 전체 IGH read depth로 나눈 값으로 B 세포 중의 클론의 비율을 의미합니다.
                            </td>
                        </tr>
                    </tbody>
                </table> -->
  
                <hr class="mg_t30 mg_b20"/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">검사의뢰일/검사보고일/수정보고일: 2021.12.06/-/-</td>
                        <td class="txt_1 font_16 fb">검사자:  <input type="text" class="input_02" size="30"></td>
                        <td class="txt_1 font_16 fb">판독의사: <input type="text" class="input_02" size="30"></td>
                    </tr>
                </table>
  
            </div>
        </div>
    </div>

    <div id="resultMRD">
        <div id="container" style="position: relative;">
            <h2 style="margin-top: 5px;">IGH MRD REPORT</h2>
    
    
            <div id="content">
                <div class="box pd_20">
                    <div class="sub_title">Patient: {{patientInfo.name}}, {{patientInfo.patientID}}({{patientInfo.gender}}/{{patientInfo.age}})</div>
    
                    <div class="sub_title">Test Information</div>
                    <table cellpadding="0" cellspacing="0" class="table_result02">
                        <colgroup>
                            <col style="width:50%;" />
                            <col style="width:50%;" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td> SPECIMEN: Genomic DNA isolated from Bone marrow</td>
                                <td> REQUEST: {{patientInfo.request}}</td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="sub_title">검사원리</div>
                    <table cellpadding="0" cellspacing="0" class="table_result02">
                        <colgroup>
                            <col style="width:100%;" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    Illumina® MiSeqDx 및 LymphoTrack(Invivoscribe Inc, San Diego, CA)을 이용하여 high throughput sequencing 방법으로 면역글로불린 유전자 재배열을 확인하고 정량하는 검사입니다.
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
    
                    <div class="sub_title">검사원리</div>
                    <table cellpadding="0" cellspacing="0" class="table_result02">
                        <colgroup>
                            <col style="width:50%;" />
                            <col style="width:50%;" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    미세잔존질환(MRD) 추적에 적합한 IGH 클론이 두 개 검출됩니다.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    % of clonal cells (estimated value) :
                                </td>
                                <td>
                                    76.70% / total B-cells , 50.90% / total B-cells
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
    
                    <div class="sub_title">검출된 클론</div>
                    <div class="box">
                        <form [formGroup]="tablerowForm">
                            <table class="table_list td-fix st-01">
                                <colgroup>
                                    <col style="width:60px" />
    
                                    <col style="width:100px" />
    
                                    <col style="width:100px" />
    
                                    <col style="width:100px" />
    
                                    <col style="width:100px" />
    
                                    <col style="width:80px" />
    
                                    <col style="width:100px" />
    
                                    <col style="width:150px" />
    
                                    <col style="width:100px" />
    
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>Total IGH read depth</th>
                                        <th>LQIC read depth</th>
                                        <th>Clonal IGH depth</th>
                                        <th>Clonal/total IGH read depth (%)*</th>
                                        <th>Clonal/total nuclelated cells (%)**</th>
                                        <th>Clonal cell equivalent**</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="tableRows" *ngFor="let list of getFormControls.controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td class="s-text-center">{{i+1}}</td>
                                            <td class="s-text-center">{{list.get('report_date')?.value}}</td>
                                            <td class="s-text-center">{{list.get('total_read_count')?.value}}</td>
                                            <td class="s-text-center">{{list.get('read_of_LQIC')?.value}}</td>
                                            <td class="s-text-center">{{list.get('total_Bcell_Tcell_count')?.value}}</td>
                                            <td class="s-text-center">{{list.get('total_IGH_read_depth')?.value}}%</td>
                                            <td class="s-text-center">{{list.get('total_nucelated_cells')?.value}}%</td>
                                            <td class="s-text-center">{{list.get('total_cell_equipment')?.value}}</td>
                                        </tr>
                                    </ng-container>
    
                                </tbody>
                            </table>
                        </form> 
                    </div>
                    <div class="demo">
                        <div class="demo__chart demo__chart--1">
                            <div echarts [options]="options" class="chart"></div>
                        </div>
                    </div>
                </div>
    
                <div class="sub_title">검사원리</div>
                <table cellpadding="0" cellspacing="0" class="table_result02 st-01">
                    <colgroup>
                        <col style="width:50%;" />
                        <col style="width:50%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="s-text-right">
                                Input DNA =
                            </td>
                            <td class="s-text-left">
                                400ng
                            </td>
                        </tr>
                        <tr>
                            <td class="s-text-right">
                                Total nucleated cells (estimated) =
                            </td>
                            <td class="s-text-left">
                                61,538 cell equivalents (Estimated DNA mass per 1 cell = 6.5 pg)
                            </td>
                        </tr>
                        <tr>
                            <td class="s-text-right">
                                Total B-cell coune =
                            </td>
                            <td class="s-text-left">
                                217,735 cell equivalents (Total read count/ LQIC read count)-LQIC
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <div class="sub_title">Comment</div>
                <div class="pd_r20">
                    <textarea class="textarea_01">{{comment2}}</textarea>
                </div>
    
    
                <hr class="mg_t30 mg_b20" />
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">검사의뢰일/검사보고일/수정보고일: 2021.12.06/-/-</td>
                        <td class="txt_1 font_16 fb">검사자: <input type="text" class="input_02" size="30"></td>
                        <td class="txt_1 font_16 fb">판독의사: <input type="text" class="input_02" size="30"></td>
                    </tr>
                </table>
    
            </div>
        </div>
    </div>
    



