 <div id="wrap1111">
   <div id="container">
     <div id="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
         <tr>
           <td class="mail_title">기본입력값 설정</td>
         </tr>
       </table>

       <div class="box mg_b20 pd_20 search">
         <select class="select_01 select_001" #type (change)="findTypeLists(type.value)">
           <option value="none">선택</option>
           <option value="Genetic">유전성유전질환</option>
           <option value="SEQ">Sequencing</option>
           <option value="MLPA">MLPA</option>
         </select>&nbsp;&nbsp;
            <select class="select_01 select_001" id="wgtmsr"  #code (change)="testcode(code.value)">
               <option value="none">선택</option>
               <option [value]="list.code" *ngFor="let list of reportLists">{{list.report}}</option>
           </select>&nbsp;&nbsp;


         <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main_btn">
              <ul>
                <li>
                  <button type="button" class="btn btn_01" (click)=" addNewCommentRow()">추가</button>
                </li>
              </ul>
            </td>
          </tr>
        </table>

       </div>
       <div class="box">
         <div class="box_100 fill">
           <form [formGroup]="tablerowForm">
           <table border="0" cellpadding="0" cellspacing="0" class="table_list td-fix fixed_header table_resul_x">
             <colgroup>
               <col width="5%">
               <col width="5%">
               <col width="10%">
               <col width="10%">
               <col width="10%">
               <col width="10%">
               <col width="10%">
               <col width="20%">
               <col width="20%">
               <col width="10%">
             </colgroup>

            <thead>
                <tr>
                    <th>No.</th>
                    <th>TestCode</th>
                    <th>결과지명</th>
                    <th>Target Disease</th>
                    <th>Specimen</th>
                    <th>Analyzed Gene</th>
                    <th>Method</th>
                    <th>일반코멘트1</th>
                    <th>일반코멘트2</th>
                    <th>수정/삭제</th>
                </tr>
            </thead>
            <tbody>
                <ng-container formArrayName="tableRows" *ngFor="let group of commentsRows().controls; let i=index">
                   <tr  [formGroupName]="i">
                     <td></td>
                     <td>
                         <input type="text" [matTooltip]="group.get('code').value"  class="clr-input textcenter tdbox" size="10" formControlName="code" >
                     </td>
                     <td>
                         <input type="text" [matTooltip]="group.get('report').value"  class="clr-input textcenter tdbox"   formControlName="report" >
                     </td>
                     <td>
                         <input type="text"  [matTooltip]="group.get('target').value"  class="clr-input textcenter tdbox"   formControlName="target" >
                     </td>
                     <td>
                         <input type="text" [matTooltip]="group.get('specimen').value" class="clr-input textcenter tdbox"   formControlName="specimen" >
                     </td>
                     <td>
                        <input type="text" [matTooltip]="group.get('analyzedgene').value"  class="clr-input textcenter tdbox"   formControlName="analyzedgene" >
                     </td>
                     <td>
                         <input type="text" [matTooltip]="group.get('method').value" class="clr-input textcenter tdbox"  formControlName="method" >
                     </td>
                     <td>
                         <span  *ngIf="group.get('mode').value === 'D'">
                             <textarea style="width:96%;display:block;margin:0 auto;" [matTooltip]="group.get('comment1').value"  class="textarea_01" formControlName="comment1"></textarea>
                         </span>
                         <span  *ngIf="group.get('mode').value === 'E'">
                             <textarea style="width:96%;display:block;margin:0 auto;" rows="10"  cols="70"  class="textarea_01" formControlName="comment1"></textarea>
                         </span>
                     </td>
                     <td>
                         <span  *ngIf="group.get('mode').value === 'D'">
                             <textarea style="width:96%;display:block;margin:0 auto;" [matTooltip]="group.get('comment2').value"  class="textarea_01" formControlName="comment2"></textarea>
                         </span>
                         <span  *ngIf="group.get('mode').value === 'E'">
                             <textarea style="width:96%;display:block;margin:0 auto;" rows="10"  cols="70"  class="textarea_01" formControlName="comment2"></textarea>
                         </span>
                     </td>
                     <td>
                      <span class="bdnone">
                          <a class="btn-edit">수정</a>
                          <a class="btn-delete">삭제</a>
                      </span>
                      <span class="wid120 bdnone">
                          <a class="btn-cancel">취소</a>
                          <a class="btn-save">저장</a>
                      </span>
                     </td>
                   </tr>
                </ng-container>

            </tbody>

             <div></div>

           </table>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
