<div id="wrap1111">
  <app-tsvupload [hidden]="isVisible" (onSelected)="onSelected()" [specimenNo]="specimenNo"
    [patientid]="patientID" (onCanceled)="onCanceled()">
  </app-tsvupload>
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
        <tr>
            <td  class="mail_title">WorkList (유전성유전질환)</td>
            <td class="main_btn"></td>
        </tr>
    </table>

      <div class="box mg_b20 pd_20">
        <input type="text" class="input_01" #herTestedID placeholder="검체번호" />&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자ID" #herPatient class="input_01" />&nbsp;&nbsp;
        <select class="select_01 select_001"  #herStatus>
          <option value="100">전체</option>
          <option value="0">시작</option>
          <option value="1">스크린판독</option>
          <option value="2">판독완료</option>
          <option value="3">EMR전송</option>
        </select>&nbsp;&nbsp;
        <select class="select_01 select_001" #herSheet>
          <option value="genetic">전체</option>
          <option  *ngFor="let list of listHereditary"  [value]="list.gene">{{list.gene}} ({{list.title}})</option>
        </select>&nbsp;&nbsp;
        <input type="date" [value]="startToday()" (change)="getDate(herStart.value)" #herStart class="input_01"
          style="width:150px;" />
        ~
        <input type="date" class="input_01" (change)="getDate(herEnd.value)" #herEnd [value]="endToday()"
          style="width:150px;">
        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="search(herStart.value, herEnd.value, herTestedID.value, herPatient.value, herStatus.value, herSheet.value)">조 회</button>
        &nbsp;&nbsp;

        <!--
        <select class="select_01 select_001" #research  (change)="newList(research.value)">
          <option value="TOTAL">전체</option>
          <option value="PATIENT">환자용</option>
          <option value="RESEARCH">연구용</option>
        </select>&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="openDialog()">연구용추가</button>&nbsp;&nbsp;

        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="goDashboard()">DashBoard</button>
        -->
      </div>
      <div class="box">
        <div class="box_100 fill" [appDiagScrollMonitor]="'GEN'" #dbox100>
        <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
          <colgroup>
          <!--
            <col width="40px">
            <col width="100px">
            <col width="80px">
            <col width="50px">
            <col width="50px">
            <col width="80px">
            <col width="80px">
            <col width="170px">
            <col width="90px">
            <col width="*">
            <col width="*">
            <col width="90px">
            <col width="120px">
            <col width="95px">
            -->
            <col width="3%">
            <col width="7%">
            <col width="5%">
            <col width="4%">
            <col width="4%">
            <col width="6%">
            <col width="5%">
            <col width="10%">
            <col width="8%">
            <col width="25%">
            <col width="10%">
            <col width="5%">
            <col width="8%">
            <col width="7%">
            <col width="7%">
         <!--   <col width="7%"> -->
          </colgroup>
          <thead>
            <tr>
              <th>No.</th>
              <th>접수일</th>
              <th>환자이름</th>
              <th>나이</th>
              <th>성별</th>
              <th>환자ID</th>
              <th>검사명</th>
              <th>결과지명</th>
              <th>검체번호</th>
              <th>VCF 파일</th>
              <th>BAM 파일</th>
              <th>진행상태</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            <!--  <th>연구용</th> -->
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr [ngClass]="toggle(i)" *ngFor="let list of  lists; let i = index;">
              <td class="txt_c">{{ i + 1}}</td>
              <td class="txt_c">{{list.accept_date}}</td>
              <td class="txt_c">{{list.name}}</td>
              <td class="txt_c">{{list.age}}</td>
              <td class="txt_c">{{list.gender}}</td>
              <td class="txt_c">{{list.patientID}}</td>
              <td class="txt_c">{{list.test_code}}</td>
              <td class="txt_c">{{list.reportTitle}}</td>
              <td class="txt_c">{{list.specimenNo}}</td>
              <td class="txt_c"><a [href]="getUrl(list)" [download]="list.tsvFilteredFilename">{{list.tsvFilteredFilename}}</a></td>
              <td class="txt_c">{{list.bamFilename}}</td>
              <td class="txt_c" *ngIf="list.test_code === 'MDS/MPN'   || processingSatus(list.test_code) ;else status">{{processingStatus(i)}}</td>
              <ng-template #status><td></td></ng-template>
              <td class="txt_c">
                <button type="button" class="btn btn_03" *ngIf="list.tsvFilteredFilename.trim() || ( showReport(list.test_code)) ; else printing"
                  (click)="goReporter(i)">결과지/보고서</button>
                <ng-template #printing>
                  <button type="button" class="btn btn_03" (click)="goUploadpage(list.specimenNo, list.patientID)"
                  *ngIf="list.test_code === 'MDS/MPN'    || processingSatus(list.test_code)? true : false"
                  >파일등록/변환</button>
                </ng-template>
              </td>
              <td class="txt_c" *ngIf="list.test_code === 'LPE474' || list.test_code === 'LPE475'  ||  processingSatus(list.test_code); else reload">
                <button type="button" class="btn btn_05" *ngIf="list.tsvFilteredFilename;"
                  (click)="goUploadpage(list.specimenNo, list.patientID)">재등록</button>
              </td>
              <td  class="txt_c">
                 <button type="button" class="btn btn_05" (click)="goDirect(i)">직접입력</button>
              </td>
              <ng-template #reload><td></td></ng-template>
              <!--
              <td  class="txt_c" *ngIf="list.gbn === 'RESEARCH'; else research;">
                <span>연구용</span>
              </td>
              <ng-template #research><td></td></ng-template>
              -->
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>


