<div id="wrap1111">
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
        <tr>
            <td  class="mail_title">건강보험심사평가원 NGS 통계</td>
            <td class="main_btn"></td>
        </tr>
    </table>

      <div class="box mg_b20 pd_20">

        <select class="select_01 select_001" #type>
          <option value="none">선택</option>
          <option value="A">전체</option>
          <option value="L">진검</option>
          <option value="P">병리</option>
        </select>&nbsp;&nbsp;
        <input type="date" [value]="startToday()"   #start class="input_01"
          style="width:150px;" />
        ~
        <input type="date" class="input_01"   #end [value]="endToday()"
          style="width:150px;">
        <button type="button" class="btn btn_02" style="margin-left: 10px;"
          (click)="search(start.value, end.value,  type.value)">조 회</button>
      </div>
    </div>
  </div>
</div>

