.btn-s.blue {
    cursor: pointer;
    vertical-align: middle;
    background-color: lightblue;
    border-radius: 3px;
}

.select_001 {
    padding: .6212rem .8571rem !important;
    background-color: #f5f5f5;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
}

// 230214 추가
.box_100.fill {
    min-height: 500px;
    height: calc(100vh - 300px);
}