<div>
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
        <tr>
            <td  class="mail_title">WorkList (IG-TCR)</td>
            <td class="main_btn"></td>
        </tr>
    </table>
      <div class="box mg_b20 pd_20">

        <input name="" type="text" placeholder="검체번호" #testedID class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자ID" #patientID class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자이름"  #patientName class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        
        <select class="select_01 select_001"  #status>
          <option value="100"  >전체</option>
          <option value="10"  >접수</option>
          <option value="0"  >시작</option>
          <option value="1"  >스크린판독</option>
          <option value="2"  >판독완료</option>
          <option value="3"  >PDF저장</option>
          <option value="5"  >접수취소</option>
        </select>&nbsp;&nbsp;
        <select class="select_01 select_001"  #sheet>
          <option value="100">전체</option>
          <option value="LPE555">LPE555</option>
          <option value="LPE556">LPE556</option>
          <option value="LPE557">LPE557</option>
        </select>&nbsp;&nbsp;
        <select class="select_01 select_001" #research1>
          <option value="TOTAL">전체</option>
          <option value="diag">환자용</option>
          <option value="RESEARCH">연구용</option>
        </select>&nbsp;&nbsp;&nbsp;
       
        <input type="date" class="input_01" #start [value]="startToday()" style="width:150px;" />
        ~
        <input type="date" class="input_01" #end [value]="endToday()" style="width:150px;">

        <button type="button" class="btn btn_02" style="margin-left: 10px;" (click)="search(start.value, end.value, testedID.value, patientID.value, patientName.value, status.value, sheet.value, research1.value)">조 회</button>
        
        &nbsp;&nbsp;
        
        <button type="button" class="btn btn_02" style="margin-left: 10px;"  (click)="openDialog()">연구용추가</button>&nbsp;&nbsp;
        <!--
        <button type="button" class="btn btn_02" style="margin-left: 10px;">DashBoard</button>
          -->
      </div>
      <div class="box">
        <div class="box_100 fill">
        <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
          <colgroup>
            <col width="3%">
            <col width="7%">
            <col width="5%">
            <col width="4%">
            <col width="4%">
            <col width="6%">
            <col width="5%">
            <col width="20%">
            <col width="8%">
            <col width="7%">
            <col width="8%">
            <col width="8%">
            <col width="5%">
          </colgroup>
          <thead>
            <tr>
              <th>No.</th>
              <th>접수일</th>
              <th>환자이름</th>
              <th>나이</th>
              <th>성별</th>
              <th>환자ID</th>
              <th>검사명</th>
              <th>결과지명</th>
              <th>검체번호</th>
              <th>진행상태</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>연구용</th>
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr  *ngFor="let list of  lists; let i = index;">
              <td class="txt_c">{{ i + 1}}</td>
              <td class="txt_c">{{list.accept_date}}</td>
              <td class="txt_c">{{list.name}}</td>
              <td class="txt_c">{{list.age}}</td>
              <td class="txt_c">{{list.gender}}</td>
              <td class="txt_c">{{list.patientID}}</td>
              <td class="txt_c">{{list.test_code}}</td>
              <td class="txt_c">{{list.reportTitle}}</td>
              <td class="txt_c">{{list.specimenNo}}</td>
              <td class="txt_c">{{processingStatus(i)}}</td>
              <td class="txt_c" *ngIf="list.test_code !== 'LPE557'">
                <button type="button" class="btn btn_03" (click)="goReporter(i,'NONE')">결과지/보고서</button>
            </td>
            <td class="txt_c" *ngIf="list.test_code === 'LPE557'">
                <button type="button" class="btn btn_03" (click)="goReporter(i, 'TRB')">결과지(TRB)</button>
            </td>
            <td class="txt_c" *ngIf="list.test_code === 'LPE557'">
                <button type="button" class="btn btn_03" (click)="goReporter(i, 'TRG')">결과지(TRG)</button>
            </td>
            <td class="txt_c" *ngIf="list.test_code !== 'LPE557'"></td>
            <td  class="txt_c" class="btn btn_03" *ngIf="list.gbn === 'RESEARCH'; else research;">
              <span>연구용</span>
            </td>
            <ng-template #research><td></td></ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
