<div>
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
        <tr>
            <td  class="mail_title">WorkList (IG-TCR)</td>
            <td class="main_btn"></td>
        </tr>
    </table>
      <div class="box mg_b20 pd_20">

        <input name="" type="text" placeholder="검체번호" class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자ID" class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        <input name="" type="text" placeholder="환자이름" class="input_01" style="width: 100px;"/>&nbsp;&nbsp;
        <!--
        <select class="select_01 select_001">
          <option>전체</option>
        </select>&nbsp;&nbsp;
        <select class="select_01 select_001">
          <option>전체</option>
        </select>&nbsp;&nbsp;
        <select class="select_01 select_001">
          <option>전체</option>
        </select>&nbsp;&nbsp;&nbsp;
        -->
        <input type="date" class="input_01" style="width:150px;" />
        ~
        <input type="date" class="input_01" style="width:150px;">

        <button type="button" class="btn btn_02" style="margin-left: 10px;">조 회</button>
        <!--
        &nbsp;&nbsp;
        <button type="button" class="btn btn_02" style="margin-left: 10px;">연구용추가</button>&nbsp;&nbsp;
        <button type="button" class="btn btn_02" style="margin-left: 10px;">DashBoard</button>
          -->
      </div>
      <div class="box">
        <div class="box_100 fill">
        <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
          <colgroup>
            <col width="3%">
            <col width="7%">
            <col width="5%">
            <col width="4%">
            <col width="4%">
            <col width="6%">
            <col width="5%">
            <col width="20%">
            <col width="8%">
            <col width="7%">
            <col width="8%">
          </colgroup>
          <thead>
            <tr>
              <th>No.</th>
              <th>접수일</th>
              <th>환자이름</th>
              <th>나이</th>
              <th>성별</th>
              <th>환자ID</th>
              <th>검사명</th>
              <th>결과지명</th>
              <th>검체번호</th>
              <th>진행상태</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr  *ngFor="let list of  lists; let i = index;">
              <td class="txt_c">{{ i + 1}}</td>
              <td class="txt_c">{{list.accept_date}}</td>
              <td class="txt_c">{{list.name}}</td>
              <td class="txt_c">{{list.age}}</td>
              <td class="txt_c">{{list.gender}}</td>
              <td class="txt_c">{{list.patientID}}</td>
              <td class="txt_c">{{list.test_code}}</td>
              <td class="txt_c">{{list.reportTitle}}</td>
              <td class="txt_c">{{list.specimenNo}}</td>
              <td class="txt_c">{{processingStatus(i)}}</td>
              <td class="txt_c">
                <button type="button" class="btn btn_03"
                 (click)="goReporter(i)">결과지/보고서</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
