<div id="wrap111">


    <div id="container" style="margin-top: 0px;">
      <div id="content" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
              <tr>
                  <td  class="mail_title">LIMS WorkList</td>
                  <td class="main_btn"></td>
              </tr>
          </table>
          <div class="box mg_b20 pd_20">
              <span>접수일자</span>&nbsp;&nbsp;
              <input type="date"  [value]="endToday()"  class="input_01" #end  style="width:150px;"/> &nbsp;&nbsp;
              <button type="button" class="btn btn_02" (click)="search(end.value)"
               style="margin-right: 15px;">조회</button>
               <select class="select_01 select_001" #recker (change)="selectedRecheck(recker.value)">
                <option value="TOTAL">의사</option>
                <option value="exam.id" *ngFor="let exam of doctorList">{{exam.name}}</option>
              </select>&nbsp;&nbsp;
              <select class="select_01 select_001" #examiner  (change)="selectedExamin(examiner.value)">
                <option value="TOTAL">병리기사</option>
                <option value="exam.id" *ngFor="let exam of examinList">{{exam.name}}</option>
              </select>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn_02"
              style="margin-right: 15px;"  (click)="save()">저장</button>
              <button type="button" class="btn btn_02"
               style="margin-right: 15px;" (click)="fileInput.click()">Nano 엑셀읽기</button>
               <input style="display: none" type="file"
                 (change)="onFileSelected($event)"
                 #fileInput>
               <button type="button" class="btn btn_02"
               style="margin-right: 15px;" (click)="printexcel()">엑셀출력</button>
          </div>
          <div class="box big_box">


            <div class="sub_title_03_E">DNA</div>
            <div class="box_100 fill"  (scroll)="tableScroll($event)"  #pbox100>
             <form [formGroup]="dnaForm">
              <table border="0" cellpadding="0" cellspacing="0" [ngClass]="tableHeader()" class="table_list td_padding_0 td-fix" #table>
                  <colgroup>
                      <col width="40px">
                      <col width="100px">
                      <col width="100px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="120px">
                      <col width="150px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="90px">
                      <col width="40px">
                  </colgroup>
                  <thead class="fixheader">
                      <tr>
                          <th>No.</th>
                          <th>병리번호</th>
                          <th>관련병리번호</th>
                          <th>접수일자</th>
                          <th>등록번호</th>
                          <th>환자명</th>
                          <th>성별(F/M)</th>
                          <th>구분(bx,op)</th>
                          <th>블럭수</th>
                          <th>key block</th>
                          <th>검체</th>
                          <th>암종</th>
                          <th>tumor %</th>
                          <th>ng/ul</th>
                          <th>260/280</th>
                          <th>260/230</th>
                          <th>dil비율</th>
                          <th>ng/ul</th>
                          <th>DNA</th>
                          <th>dw</th>
                          <th>total Vol</th>
                          <th>Ct값</th>
                          <th>quantity</th>
                          <th>quantity/<br>2(농도)</th>
                          <th>DNA</th>
                          <th>TE</th>
                          <th>total Vol</th>
                          <th>Lib HIFI PCR Cycle</th>
                          <th>pM</th>
                          <th>x100</th>
                          <th>library</th>
                          <th>DW(50pm)</th>
                          <th>library</th>
                          <th>DW(50pm)</th>
                          <th>병리번호</th>
                          <th>No</th>
                      </tr>
                  </thead>
                  <tbody class="bodytable">
                   <ng-container formArrayName="dnaFormgroup"
                    *ngFor="let group of dnaFormLists().controls; let i=index">
                      <tr  [formGroupName]="i">
                          <td class="txt_c">
                          <input type="text" size="10" class="clr-input" formControlName="id" readonly>
                          </td>
                          <td class="txt_c">
                           <input type="text" size="10" class="clr-input" formControlName="pathology_num" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="rel_pathology_num" readonly>
                          </td>
                          <td class="txt_c">
                           <input type="text" size="10" class="clr-input" formControlName="prescription_date" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="patientID" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="name" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="gender" readonly>
                          </td>

                          <td class="txt_c">
                             <input type="text" size="10"  class="clr-input  tdbox"
                              matInput  [matAutocomplete]="dnaauto" formControlName="path_type">
                              <mat-autocomplete #dnaauto="matAutocomplete">
                                <mat-option *ngFor="let option of BXOP" [value]="option">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="20"  class="clr-input  tdbox"
                            matInput  [matAutocomplete]="dnablock" formControlName="block_cnt">
                            <mat-autocomplete #dnablock="matAutocomplete">
                               <mat-option *ngFor="let option of BLOCKCNT" [value]="option">
                                 {{option}}
                               </mat-option>
                            </mat-autocomplete>

                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="key_block">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="prescription_code">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="30"  class="clr-input  tdbox"
                            matInput  [matAutocomplete]="dnacancel" formControlName="test_code">
                            <mat-autocomplete #dnacancel="matAutocomplete">
                              <mat-option *ngFor="let option of LISTS" [value]="option">
                                   {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="tumorburden">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="nano_ng">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="nano_280">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="nano_230">
                          </td>
                          <td class="txt_c">
                             <input type="text" size="10" class="clr-input" formControlName="nano_dil">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="ng_ui" #dnaNgUl (change)="dnaNgUl(i, dnaNgUl.value)">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="dan_rna"
                              #dnaDanRna (change)="dnaDanRna(i, dnaDanRna.value)">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="dw" >
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="tot_ct">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="ct">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="quantity" #dnaQuatity (change)="dnaQuatity(i,dnaQuatity.value)">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="quantity_2" >
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="quan_dna" >
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="te">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="quan_tot_vol">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="lib_hifi">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="pm" #dnaPm (change)="dnaPm(i, dnaPm.value)">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="x100">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="lib">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="lib_dw" >
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="lib2">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="lib2_dw">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="pathology_num">
                          </td>
                          <td class="txt_c">
                              <input type="text" size="10" class="clr-input" formControlName="id">
                          </td>
                      </tr>
                    </ng-container>
                  </tbody>
              </table>
            </form>

            <div class="sub_title_03_E">RNA</div>
            <form [formGroup]="rnaForm">
              <!-- header-fix : scroll시 header고정, td-fix : scroll시 1,2,3컬럼 고정 ※동시사용안됨 fixed_header -->
              <!--<table class="table_list td_padding_0 td-fix" [ngClass]="tableHeader()" style="text-align: center;" #table> -->
              <table border="0" cellpadding="0" cellspacing="0" [ngClass]="tableHeader()" class="table_list  td_padding_0 td-fix table_resul_x" #table>
                  <colgroup>
                      <col width="40px">
                      <col width="100px">
                      <col width="100px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="120px">
                      <col width="150px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="80px">
                      <col width="90px">
                      <col width="40px">
                  </colgroup>
                  <thead class="fixheader">
                      <tr >
                          <th>No.</th>
                          <th>병리번호</th>
                          <th>관련병리번호</th>
                          <th>접수일자</th>
                          <th>등록번호</th>
                          <th>환자명</th>
                          <th>성별(F/M)</th>
                          <th>구분(bx,op)</th>
                          <th>블럭수</th>
                          <th>key block</th>
                          <th>검체</th>
                          <th>암종</th>
                          <th>tumor %</th>
                          <th>ng/ul</th>
                          <th>260/280</th>
                          <th>260/230</th>
                          <th>dil비율</th>
                          <th>ng/ul</th>
                          <th>RNA</th>
                          <th>dw</th>
                          <th>total Vol</th>
                          <th>Ct값</th>
                          <th>quantity</th>
                          <th>quantity/<br>2(농도)</th>
                          <th>DNA</th>
                          <th>TE</th>
                          <th>total Vol</th>
                          <th>Lib HIFI PCR Cycle</th>
                          <th>pM</th>
                          <th>x100</th>
                          <th>library</th>
                          <th>DW(50pm)</th>
                          <th>library</th>
                          <th>DW(50pm)</th>
                          <th>병리번호</th>
                          <th>No</th>
                      </tr>
                  </thead>
                  <tbody class="bodytable"  >
                    <ng-container formArrayName="rnaFormgroup"
                    *ngFor="let group of rnaFormLists().controls; let i=index">
                      <tr   [formGroupName]="i">
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="id" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="pathology_num" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="rel_pathology_num" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="prescription_date" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="patientID" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="name" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="gender" readonly>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10"  class="clr-input  tdbox"
                            matInput  [matAutocomplete]="rnaauto" formControlName="path_type">
                            <mat-autocomplete #rnaauto="matAutocomplete">
                              <mat-option *ngFor="let option of BXOP" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="20"  class="clr-input  tdbox"
                            matInput  [matAutocomplete]="rnablock" formControlName="block_cnt">
                            <mat-autocomplete #rnablock="matAutocomplete">
                               <mat-option *ngFor="let option of BLOCKCNT" [value]="option">
                                 {{option}}
                            </mat-option>
                            </mat-autocomplete>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="key_block">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="prescription_code">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="30"  class="clr-input  tdbox"
                            matInput  [matAutocomplete]="rnacancel" formControlName="test_code">
                            <mat-autocomplete #rnacancel="matAutocomplete">
                              <mat-option *ngFor="let option of LISTS" [value]="option">
                                   {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="tumorburden">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="nano_ng">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="nano_280">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="nano_230">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="nano_dil">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="ng_ui" #rnaNgUl (change)="rnaNgUl(i, rnaNgUl.value)">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="dan_rna">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="dw">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="tot_ct">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="ct">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="quantity"
                            #rnaQuatity (change)="rnaQuatity(i,rnaQuatity.value)">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="quantity_2">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="quan_dna">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="te">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="quan_tot_vol">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="lib_hifi">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="pm"
                            #rnaPm (change)="rnaPm(i, rnaPm.value)">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="x100">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="lib">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="lib_dw">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="lib2">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="lib2_dw">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="pathology_num">
                          </td>
                          <td class="txt_c">
                            <input type="text" size="10" class="clr-input" formControlName="id">
                          </td>
                      </tr>
                    </ng-container>
                  </tbody>
              </table>
            </form>
            </div>

          </div>
      </div>
    </div>
    <div *ngIf="processing" class="progressbar">
      <mat-spinner></mat-spinner>
  </div>
  </div>



