<mat-dialog-content>
<div id="wrap1111">


  <div id="container">
    <div id="content">
      <div class="box">
        <div class="box mg_b20 pd_20">
            <button type="button"  style="margin-left: 10px;"
             mat-raised-button color="primary"  (click)="addRow()">추가</button>
                <button mat-raised-button color="primary" style="margin-left: 10px;"
              (click)="close()"> 닫기</button>
        </div>
        <form [formGroup]="tablerowForm">
          <div class="box_100 fill" >
              <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
                <colgroup>
                  <col width="2%">
                  <col width="5%">
                  <col width="5%">
                  <col width="4%">
                  <col width="6%">
                  <col width="5%">
                  <col width="10%">
                  <col width="5%">
                  <col width="4%">
                </colgroup>
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>환자이름</th>
                    <th>나이</th>
                    <th>성별</th>
                    <th>환자ID</th>
                    <th>검사명</th>
                    <th>결과지명</th>
                    <th>검체번호</th>
                    <th>저장/삭제/취소</th>
                  </tr>
                </thead>
                <div></div>
                <tbody>
                    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
                      <tr [formGroupName]="i">
                        <td class="txt_c">{{i+1}}</td>
                        <td class="txt_c">
                            <input type="text" size="15"  class="clr-input textcenter  tdbox" formControlName="name">
                        </td>
                        <td class="txt_c">
                            <input type="text" size="10"  class="clr-input textcenter  tdbox" formControlName="age">
                        </td>
                        <td class="txt_c">
                            <input type="text" size="10"  class="clr-input textcenter  tdbox" formControlName="gender"
                             [matAutocomplete]="gender2" matInput placeholder="선택">
                              <mat-autocomplete #gender2="matAutocomplete">
                                 <mat-option *ngFor="let option of gender" [value]="option">
                                      {{option}}
                                 </mat-option>
                              </mat-autocomplete>
                        </td>
                        <td class="txt_c">
                            <input type="text" size="15"  class="clr-input textcenter  tdbox" formControlName="patientID">
                        </td>
                        <td class="txt_c">
                            <input type="text" size="10"  class="clr-input textcenter  tdbox"
                             matInput
                            formControlName="testname">
                        </td>
                        <td class="txt_c">
                            <input type="text" size="35"  class="clr-input textcenter  tdbox" formControlName="reportTitle" readonly>
                        </td>
                        <td class="txt_c">
                            <input type="text" size="15"  class="clr-input textcenter  tdbox"  formControlName="specimenNo">
                        </td>
                        <td  class="txt_c">
                            <img [src]="'assets/images/save.png'" id="btn_button" (click)="save(i)"
                            width="20px" height="20px">&nbsp;&nbsp;
                            <img [src]="'assets/images/trash.png'" id="btn_button" (click)="deleteRow(i)">&nbsp;&nbsp;
                            <img [src]="'assets/images/cancel.png'" id="btn_button" (click)="cancelRow(i)">
                         </td>
                      </tr>
                    </ng-container>
                </tbody>
              </table>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
