<div id="result">
    <div id="container" style="position: relative;">
        <h2 style="margin-top: 5px;height:32px;">{{method}}</h2>
        <button type="button" class="preview__button" (click)="previewToggle()">미리보기</button>
        <!-- button type="button" class="excel">Excel</button>  -->

        <div id="content">
            <div class="box pd_20">
                <div class="sub_title">Patient:{{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt_02" ><span class="fb">Result </span>:
                    <input type="test"   #results [value]="mlpaData.result" class="clr-input textcenter " size=25 (change)="resultName(results.value)">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="vertical-radio2" name="radio-full" [value]="'Detected'" [checked]="radioStatus('Detected')" class="clr-radio"  (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" [value]="'Not Detected'" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                  </tr>
                </table>

                <div style="margin-top:5px;"></div>
                <div class="sub_title">Test Information</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td>
                            <div id="pos_right_side">
                             <span class="mt5">TARGET DISEASE:</span>
                             <input type="text" class="input_02" style="width:calc(100% - 100px);" [(ngModel)]= "target">
                             </div></td>
                          <td>
                              <div id="pos_right_side">
                                <span class="mt5">METHOD:</span>
                                <input type="text" class="input_02" style="width:calc(100% - 55px);"
                             [(ngModel)]= "testmethod">
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                             <div id="pos_right_side">
                                <span class="mt5">SPECIMEN:</span>
                                <input type="text" class="input_02" style="width:calc(100% - 64px);"
                             [(ngModel)]= "specimen">
                             </div>
                          </td>
                          <td> REQUEST: {{patientInfo.request}}</td>
                      </tr>
                      <tr>
                        <td>
                            <div id="pos_right_side">
                                <span class="mt5">ANALYZED GENE:</span>
                                <input type="text" class="input_02" style="width:calc(100% - 97px);"
                             [(ngModel)]= "analyzedgene">
                            </div>
                        </td>
                    </tr>
                  </tbody>
                </table>

                <div class="sub_title"></div>
                <div class="box_wrap">
                    <div class="col2 left">
                        <table class="table_list text-center">
                            <caption>MLAP-1</caption>
                            <colgroup>
                                <col width="30%">
                                <col width="40%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Probe #</th>
                                    <th>Site</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of mlpaData1; let i= index">
                                    <td>{{list.seq}}
                                     <!--  <input type="text" class="input_02 textcenter" #prode2 (change)="mlpa1Prode(i, prode2.value, 'L', list)" [value]="list.seq"> -->
                                    </td>
                                    <td>
                                      <input type="text" #site1 class="input_02 textcenter" (change)="mlpa1Site(i, site1.value, 'L', list)" [value]="list.site">
                                    </td>
                                    <td>
                                      <input type="text" #result1 class="input_02 textcenter" (change)="mlpa1Result(i, result1.value, 'L', list)" [value]="list.result">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col2 right">
                        <table class="table_list text-center">
                            <caption>MLAP-1</caption>
                            <colgroup>
                                <col width="30%">
                                <col width="40%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Probe #</th>
                                    <th>Site</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of mlpaData2; let i=index">
                                    <td>{{list.seq}}
                                   <!--   <input type="text" class="input_02 textcenter" #prode2 (change)="mlpa1Prode(i, prode2.value, 'R', list)" [value]="list.seq"> -->
                                    </td>
                                    <td>
                                      <input type="text" class="input_02 textcenter" #site2 (change)="mlpa1Site(i, site2.value, 'R', list)" [value]="list.site">
                                    </td>
                                    <td>
                                      <input type="text" class="input_02 textcenter"#result2 (change)="mlpa1Result(i, result2.value, 'R', list)" [value]="list.result">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                -->
                <!--  <div class="sub_title">판독 코멘트</div> -->
                 <div style="margin-bottom: 10px;margin-top: 25px;">
                     <ul style="display:flex;justify-content:flex-start; align-items: center;">
                         <li>
                             <span class="sub_title">판독 코멘트</span>
                         </li>
                         <li>&nbsp;&nbsp;</li>
                         <li>
                             <button type="button" class="btn btn_01" (click)="showDialog()">예문</button>
                         </li>
                     </ul>
                 </div>


                <div class="pd_r20">
                      <textarea class="textarea_01" [(ngModel)]="mlpaData.comment">{{mlpaData.comment}}</textarea>
                </div>


                <div class="sub_title">일반코멘트1</div>
                <div class="pd_r20">
                     <textarea class="textarea_01" [(ngModel)]="mlpaData.conclusion">{{mlpaData.conclusion}}</textarea>
                </div>

                <div class="sub_title">일반코멘트2</div>
                <div class="pd_r20">
                    <textarea class="textarea_01" [(ngModel)]="mlpaData.technique">{{mlpaData.technique}}</textarea>
                </div>

                <hr class="mg_t30 mg_b20"/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">
                            검사의뢰일/검사보고일/수정보고일: {{requestDate | date: 'yyyy.MM.dd'}}/{{firstReportDay}}/{{lastReportDay}}
                        </td>
                        <td class="txt_1 font_16 fb">
                            검사자:  <input type="text"  [(ngModel)]="examin" class="input_02" size="30">
                        </td>
                        <td class="txt_1 font_16 fb">
                            판독의사: <input type="text"  [(ngModel)]="recheck"  class="input_02" size="30">
                        </td>
                    </tr>
                </table>
            </div>

            <br />
            <div class="foot_btn mg_t30 pd_b30 txt_c main_btn"  *ngIf="!isResearch">
                <ul>
                    <li>
                       <button type="button" class="btn btn_01" (click)="goBack()">HOME</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn_01" (click)="previewToggle()">미리보기</button>
                    </li>
                     <li>
                        <button class="btn btn_01" (click)="reset()"
                        [disabled]="getStatus(4)">수정</button>
                    </li>

                    <li>
                        <button class="btn btn_01" (click)="tempSave()">임시저장</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="screenRead()" [disabled]="getStatus(1)">스크린완료</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="screenReadFinish()" [disabled]="getStatus(2)">판독완료</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="gotoEMR()"  [disabled]="getStatus(3)">EMR전송</button>
                    </li>
                </ul>
            </div>

            <div class="foot_btn mg_t30 pd_b30 txt_c main_btn" *ngIf="isResearch">
                <ul>
                    <li>
                       <button type="button" class="btn btn_01" (click)="goBack()">HOME</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn_01" (click)="previewToggle()">미리보기</button>
                    </li>
                     <li>
                        <button class="btn btn_01" (click)="reset()"
                        [disabled]="getStatus(4)">수정</button>
                    </li>

                    <li>
                        <button class="btn btn_01" (click)="tempSave()">임시저장</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="screenRead()" [disabled]="getStatus(1)">스크린완료</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="screenReadFinish()" [disabled]="getStatus(2)">판독완료</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>

   <div class="modal-overlay" *ngIf="isVisible">
       <div class="modal-body">
         <app-mlpapreview
         (closemodal)="closeModal()"
         [title]="method"
         [target]="target"
         [testmethod]='testmethod'
         [analyzedgene]='analyzedgene'
         [patientInfo]= "patientInfo"
         [request]="patientInfo.request"
         [result] = "mlpaData.result"
         [resultStatus]= "resultStatus"
         [mlpaData1]="mlpaData1"
         [mlpaData2]="mlpaData2"
         [conclusion]="mlpaData.conclusion"
         [specimen]= "specimen"
         [comment]="mlpaData.comment"></app-mlpapreview>
       </div>
   </div>


   <div class="modal-overlay" *ngIf="isExamVisible">
       <div class="modal-body2">
           <app-examplement
           [type]="'MLPA'"
           [code]="patientInfo.test_code"
            (closemodal)="modalClose()"
            (sendMent)="receiveMent($event)"></app-examplement>
       </div>
   </div>


</div>

