<div id="result">
    <div id="container" style="position: relative;">
        <h2 style="margin-top: 5px;">{{method}}</h2>
        <button type="button" class="preview__button" (click)="previewToggle()">미리보기</button>
        <!-- button type="button" class="excel">Excel</button>  -->

        <div id="content">
            <div class="box pd_20">
                <div class="sub_title">Patient:{{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="txt_02" ><span class="fb">Result </span>: {{mlpaData.result}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="vertical-radio2" name="radio-full" [value]="'Detected'" [checked]="radioStatus('Detected')" class="clr-radio"  (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" [value]="'Not Detected'" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                  </tr>
                </table>

                <div style="margin-top:5px;"></div>
                <div class="sub_title">Test Information</div>
                <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <td> TARGET DISEASE: {{target}}</td>
                          <td> METHOD:  {{testmethod}}</td>
                      </tr>
                      <tr>
                          <td> SPECIMEN: Genomic DNA isolated from peripheral blood leukocytes-adequate specimen</td>
                          <td> REQUEST: {{patientInfo.request}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">ANALYZED GENE: {{analyzedgene}}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="sub_title"></div>
                <div class="box_wrap">
                    <div class="col2 left">
                        <table class="table_list text-center">
                            <caption>MLAP-1</caption>
                            <colgroup>
                                <col width="30%">
                                <col width="40%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Prode #</th>
                                    <th>Site</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of mlpaData1; let i= index">
                                    <td>{{list.seq}}</td>
                                    <td>
                                      <input type="text" #site1 class="input_02 textcenter" (change)="mlpa1Site(i, site1.value, 'L', list)" [value]="list.site">
                                    </td>
                                    <td>
                                      <input type="text" #result1 class="input_02 textcenter" (change)="mlpa1Result(i, result1.value, 'L', list)" [value]="list.result">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col2 right">
                        <table class="table_list text-center">
                            <caption>MLAP-1</caption>
                            <colgroup>
                                <col width="30%">
                                <col width="40%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Prode #</th>
                                    <th>Site</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of mlpaData2; let i=index">
                                    <td>{{list.seq}}</td>
                                    <td>
                                      <input type="text" class="input_02 textcenter" #site2 (change)="mlpa1Site(i, site2.value, 'R', list)" [value]="list.site">
                                    </td>
                                    <td>
                                      <input type="text" class="input_02 textcenter"#result2 (change)="mlpa1Result(i, result2.value, 'R', list)" [value]="list.result">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                -->
                <div class="sub_title">결론 및 의견</div>
                <div class="pd_r20">
                    <textarea class="textarea_01" #conclu (change)="conclusion(conclu.value)">{{mlpaData.conclusion}}</textarea>
                </div>

                <div class="sub_title">Comment</div>
                <div class="pd_r20">
                    <textarea class="textarea_01" #comment (change)="comment(comment.value)">{{mlpaData.comment}}</textarea>
                </div>

                <div class="discription">
                     {{mlpaData.technique}}
                </div>

                <hr class="mg_t30 mg_b20"/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="txt_l font_16 fb">
                            검사의뢰일/검사보고일/수정보고일: {{requestDate | date: 'yyyy.MM.dd'}}/{{firstReportDay}}/{{lastReportDay}}
                        </td>
                        <td class="txt_1 font_16 fb">
                            검사자:  <input type="text"  [(ngModel)]="examin" class="input_02" size="30">
                        </td>
                        <td class="txt_1 font_16 fb">
                            판독의사: <input type="text"  [(ngModel)]="recheck"  class="input_02" size="30">
                        </td>
                    </tr>
                </table>
            </div>

            <br />
            <div class="foot_btn mg_t30 pd_b30 txt_c main_btn">
                <ul>
                    <li>
                        <button type="button" class="btn btn_01" (click)="previewToggle()">미리보기</button>
                    </li>
                    <!--
                    <li>
                        <button type="button" class="btn btn_01">수정</button>
                    </li>
                    -->
                    <li>
                        <button class="btn btn_01"  (click)="tempSave()">저장</button>
                    </li>
                    <li>
                        <button class="btn btn_01" (click)="gotoEMR()">EMR전송</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

   <div class="modal-overlay" *ngIf="isVisible">
       <div class="modal-body">
         <app-mlpapreview
         (closemodal)="closeModal()"
         [title]="method"
         [patientInfo]= "patientInfo"
         [request]="patientInfo.request"
         [result] = "mlpaData.result"
         [resultStatus]= "resultStatus"
         [mlpaData1]="mlpaData1"
         [mlpaData2]="mlpaData2"
         [conclusion]="mlpaData.conclusion"
         [comment]="mlpaData.comment"></app-mlpapreview>


       </div>
   </div>

</div>

