<div id="container">
    <div id="content">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
            <tr>
                <td  class="mail_title">판독예문관리</td>
            </tr>
        </table>

        <div class="box mg_b20 pd_20 search">
            <select class="select_01 select_001" #type (change)="findReportLists(type.value)" id="types">
               <option value="none">선택</option>
               <option value="SEQ">Sequencing</option>
               <option value="MLPA">MLPA</option>
               <option value="Genetic">유전성 유전질환</option>
           </select>&nbsp;&nbsp;
            <select class="select_01 select_001" id="wgtmsr"  #reportitem (change)="testcode(reportitem.value)">
               <option value="none">선택</option>
               <option [value]="list.code" *ngFor="let list of reportLists">{{list.report}}</option>
           </select>&nbsp;&nbsp;
           <!--
         <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main_btn">
              <ul>
                <li>
                  <button type="button" class="btn btn_01" >저장</button>
                </li>

              </ul>
            </td>
          </tr>
        </table>
           -->
        </div>
      <div class="col">
        <div class="col_5">
          <h3>검사목록</h3>
          <div class="box">
            <div class="box_100 full">
                <div  id="container_box">
                   <div  id="comment cell-1">
                     <form [formGroup]="tablerowForm">
                           <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header td-fix table_resul_x">
                             <colgroup>
                                 <col width="5%">
                                 <col width="5%">
                                 <col width="*">
                                 <col width="10%">
                                 <col width="15%">
                             </colgroup>
                             <thead>
                                 <tr>
                                     <th>No.</th>
                                     <th>TestCode</th>
                                     <th>보고서명</th>
                                     <th>예문보기</th>
                                     <th>
                                        <button type="button" class="btn btn_01" (click)="addNewCommentRow()" [disabled]="showHide()">추가</button>
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                               <ng-container formArrayName="tableRows" *ngFor="let group of commentsRows().controls; let i=index">
                                 <tr  [formGroupName]="i">
                                     <td align="center">{{i+1}}</td>
                                     <td >
                                         <input type="text"  class="clr-input textcenter tdbox" size="10"     formControlName="code" >
                                     </td>
                                     <td class="txt_c">
                                          <input type="text"  class="clr-input textcenter tdbox" size="40"  formControlName="report" >
                                     </td>
                                     <td  *ngIf="show; else noshow;">
                                        <button type="button" class="btn btn_01" (click)="getExampleLists(i)">예문보기</button>
                                     </td>

                                     <ng-template #noshow>
                                        <td></td>
                                     </ng-template>
                                     <td align="center" *ngIf="code === 'none'">
                                         <a class="btn-save" (click)="save(i)">저장</a>
                                         <a class="btn-delete" (click)="removeCommentRow(i)">삭제</a>
                                     </td>

                                     <td align="center" *ngIf="(code !== 'none' && code !== 'new')">
                                         <a class="btn-save" (click)="save(i)">저장</a>
                                         <a class="btn-cancel" (click)="cancel(i)">취소</a>
                                     </td>
                                     <td align="center" *ngIf="code === 'new'">
                                         <a class="btn-save" (click)="newSave(i)">저장</a>
                                         <a class="btn-cancel" (click)="cancel(i)">취소</a>
                                     </td>

                                 </tr>
                               </ng-container>
                             </tbody>
                           </table>
                   </form>
                 </div>
                </div>
            </div>
         </div>
        </div>
        <div class="col_5">
          <h3>판독예시문목록</h3>&nbsp;&nbsp;
          <button type="button" *ngIf="exshow" class="btn btn_01" (click)="addNewExampleRow()">추가</button>
          <div class="box">
            <div class="box_100 full">
                <div  id="container_box">
                   <div  id="comment cell-1">
                        <form [formGroup]="tablerowForm">
                           <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header td-fix table_resul_x">
                             <colgroup>
                                 <col width="5%">
                                 <col width="*">
                                 <col width="15%">
                             </colgroup>
                             <thead>
                                 <tr>
                                     <th>No.</th>
                                     <th>판독예문내용</th>
                                     <th>삭제</th>
                                 </tr>
                             </thead>
                             <tbody>
                               <ng-container formArrayName="commentRows" *ngFor="let group of mentsRow().controls; let i=index" >
                                 <tr [formGroupName]="i">
                                     <td align="center">{{i+1}}</td>
                                     <td>
                                        <textarea style="width:96%;display:block;margin:0 auto;"  formControlName="comment"   class="textarea_01"  ></textarea>
                                     </td>
                                     <td align="center">
                                        <!--   <a class="btn-save">저장</a>  -->
                                          <a class="btn-delete" (click)= "deletExampleRow(i)">삭제</a>
                                          <!--
                                      <span class="bdnone">
                                      </span>
                                      <span class="wid120 bdnone">
                                      </span>
                                      -->
                                     </td>
                                 </tr>
                               </ng-container>
                             </tbody>
                           </table>
                    </form>
                 </div>
                </div>
            </div>
         </div>
        </div>
      </div>



    </div>
</div>
