#types {
  width: 150px;
}

#wgtmsr {
  width: 350px;
}

#wgtmsr option {
  width: 100px;
}

img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/*** 테이블 헤더 고정 ***/
.fixed_header th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

/*** /테이블 헤더 고정 ***/
